.smallImages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    overflow-y: auto;
}

.box {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.parent{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
}

.completeImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}
body{
    background-color: #f2e3ba;
}

.parkImages{
    margin-top: 250px;
}

#extraBox{
    border: 1px solid black;
    width: 150px;
    height: 150px;
}